<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    
	<typeAliases>
		<typeAlias type="com.tms.backend.vo.User" alias="User"/>
		<typeAlias type="com.tms.backend.vo.Criteria" alias="Criteria"/>
		<typeAlias type="com.tms.backend.vo.Notice" alias="Notice"/>
		<typeAlias type="com.tms.backend.vo.FileAttachment" alias="FA"/>
		<typeAlias type="com.tms.backend.vo.CommonCode" alias="CommonCode"/>
		<typeAlias type="com.tms.backend.vo.categoryCode" alias="categoryCode"/>
		<typeAlias type="com.tms.backend.vo.Defect" alias="Defect"/>
		<typeAlias type="com.tms.backend.vo.devProgress" alias="devProgress"/>
		<typeAlias type="com.tms.backend.vo.deleteHistory" alias="deleteHistory"/>
		<typeAlias type="com.tms.backend.vo.testProgress" alias="TestProgress"/>
	</typeAliases>
	
</configuration>