<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user-mapper.xml -->
<mapper namespace="com.tms.backend.mapper.DefectMapper">
    <select id="searchDefects" parameterType="map" resultType="Defect">
	    SELECT * 
	    FROM DEFECT
	    WHERE 1=1
	    <if test="testStage != null and testStage != ''">
	        AND TEST_STAGE = #{testStage}
	    </if>
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="defectSeverity != null and defectSeverity != ''">
	        AND DEFECT_SEVERITY = #{defectSeverity}
	    </if>
	    <if test="seq != null and seq != ''">
	        AND SEQ LIKE CONCAT('%', #{seq}, '%')
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL LIKE CONCAT('%', #{pl}, '%')
	    </if>
	    <if test="defectRegistrar != null and defectRegistrar != ''">
	        AND DEFECT_REGISTRAR LIKE CONCAT('%', #{defectRegistrar}, '%')
	    </if>
	    <if test="defectHandler != null and defectHandler != ''">
	        AND DEFECT_HANDLER LIKE CONCAT('%', #{defectHandler}, '%')
	    </if>
	    <if test="defectStatus != null and defectStatus != ''">
	        AND DEFECT_STATUS = #{defectStatus}
	    </if>
	    ORDER BY SEQ DESC
	    LIMIT #{offset}, #{size}
	</select>
	
	<select id="countDefects" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM DEFECT
	    WHERE 1=1
	    <if test="testStage != null and testStage != ''">
	        AND TEST_STAGE = #{testStage}
	    </if>
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="defectSeverity != null and defectSeverity != ''">
	        AND DEFECT_SEVERITY = #{defectSeverity}
	    </if>
	    <if test="seq != null and seq != ''">
	        AND SEQ = #{seq}
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL LIKE CONCAT('%', #{pl}, '%')}
	    </if>
	    <if test="defectRegistrar != null and defectRegistrar != ''">
	        AND DEFECT_REGISTRAR LIKE CONCAT('%', #{defectRegistrar}, '%')
	    </if>
	    <if test="defectHandler != null and defectHandler != ''">
	        AND DEFECT_HANDLER LIKE CONCAT('%', #{defectHandler}, '%')
	    </if>
	    <if test="defectStatus != null and defectStatus != ''">
	        AND DEFECT_STATUS = #{defectStatus}
	    </if>
	</select>
	
	<select id="searchAllDefects" resultType="Defect">
		SELECT * FROM DEFECT
	</select>
	
	<delete id="deleteDefect" parameterType="int">
		DELETE FROM DEFECT WHERE SEQ = #{seq}
	</delete>
	
	<!-- 결함 입력 xml -->
	<insert id="insertdefect" parameterType="Defect" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO DEFECT (
	    TEST_STAGE, MAJOR_CATEGORY, SUB_CATEGORY, 
	    TEST_ID, PROGRAM_TYPE, PROGRAM_ID, PROGRAM_NAME, 
	    DEFECT_TYPE, DEFECT_SEVERITY, DEFECT_DESCRIPTION, 
	    DEFECT_REGISTRAR, DEFECT_REG_DATE, DEFECT_HANDLER, 
	    DEFECT_SCHEDULED_DATE, DEFECT_COMPLETION_DATE, 
	    DEFECT_RESOLUTION_DETAILS, PL, PL_CONFIRM_DATE, 
	    ORIGINAL_DEFECT_NUMBER, PL_DEFECT_JUDGE_CLASS, PL_COMMENTS, 
	    DEFECT_REG_CONFIRM_DATE, DEFECT_REGISTRAR_COMMENT, 
	    DEFECT_STATUS, INIT_CREATER, LAST_MODIFIER
	) VALUES (
	    #{testStage}, #{majorCategory}, #{subCategory}, 
	    #{testId}, #{programType}, #{programId}, #{programName}, 
	    #{defectType}, #{defectSeverity}, #{defectDescription}, 
	    #{defectRegistrar}, #{defectRegDate}, #{defectHandler}, 
	    #{defectScheduledDate}, #{defectCompletionDate}, 
	    #{defectResolutionDetails}, #{pl}, #{plConfirmDate}, 
	    #{originalDefectNumber}, #{plDefectJudgeClass}, #{plComments}, 
	    #{defectRegConfirmDate}, #{defectRegistrarComment}, 
	    #{defectStatus}, #{initCreater}, #{lastModifier}
    )
	</insert>
	
	<!-- 결함 수정 xml -->
	<update id="updateDefect" parameterType="Defect">
	    UPDATE DEFECT
	    SET 
	        TEST_STAGE = #{testStage}, 
	        MAJOR_CATEGORY = #{majorCategory}, 
	        SUB_CATEGORY = #{subCategory}, 
	        TEST_ID = #{testId}, 
	        PROGRAM_TYPE = #{programType}, 
	        PROGRAM_ID = #{programId}, 
	        PROGRAM_NAME = #{programName}, 
	        DEFECT_TYPE = #{defectType}, 
	        DEFECT_SEVERITY = #{defectSeverity}, 
	        DEFECT_DESCRIPTION = #{defectDescription}, 
	        DEFECT_REGISTRAR = #{defectRegistrar}, 
	        DEFECT_REG_DATE = #{defectRegDate}, 
	        DEFECT_HANDLER = #{defectHandler}, 
	        DEFECT_SCHEDULED_DATE = #{defectScheduledDate}, 
	        DEFECT_COMPLETION_DATE = #{defectCompletionDate}, 
	        DEFECT_RESOLUTION_DETAILS = #{defectResolutionDetails}, 
	        PL = #{pl}, 
	        PL_CONFIRM_DATE = #{plConfirmDate}, 
	        ORIGINAL_DEFECT_NUMBER = #{originalDefectNumber}, 
	        PL_DEFECT_JUDGE_CLASS = #{plDefectJudgeClass}, 
	        PL_COMMENTS = #{plComments}, 
	        DEFECT_REG_CONFIRM_DATE = #{defectRegConfirmDate}, 
	        DEFECT_REGISTRAR_COMMENT = #{defectRegistrarComment}, 
	        DEFECT_STATUS = #{defectStatus}, 
	        INIT_CREATER = #{initCreater}, 
	        LAST_MODIFIER = #{lastModifier}
	    WHERE SEQ = #{seq}
	</update>
	
	<select id="getDefectById" resultType="Defect">
		SELECT *
		FROM defect
		WHERE SEQ = #{seq}
	</select>
	
	<select id="countDefect" parameterType="String" resultType="int">
	    SELECT COUNT(*)
	    FROM defect a
	    INNER JOIN dev_progress b
	    ON a.PROGRAM_ID = b.PROGRAM_ID
	    <if test="managerType == 'thirdParty'">
            AND a.DEFECT_REGISTRAR = b.THIRD_PARTY_TEST_MGR
        </if>
        <if test="managerType == 'it'">
            AND a.DEFECT_REGISTRAR = b.IT_MGR
        </if>
        <if test="managerType == 'busi'">
            AND a.DEFECT_REGISTRAR = b.BUSI_MGR
        </if>
        WHERE 1=1
	        AND a.TEST_STAGE = "단위테스트"
	        AND a.PROGRAM_ID = #{programId}
	</select>
	
	<select id="countDefectSoultions" parameterType="String" resultType="int">
	    SELECT COUNT(*)
	    FROM defect a
	    INNER JOIN dev_progress b
	    ON a.PROGRAM_ID = b.PROGRAM_ID
	    <if test="managerType == 'thirdParty'">
            AND a.DEFECT_REGISTRAR = b.THIRD_PARTY_TEST_MGR
        </if>
        <if test="managerType == 'it'">
            AND a.DEFECT_REGISTRAR = b.IT_MGR
        </if>
        <if test="managerType == 'busi'">
            AND a.DEFECT_REGISTRAR = b.BUSI_MGR
        </if>
	    WHERE 1=1
	        AND a.TEST_STAGE = "단위테스트"
	        AND a.PROGRAM_ID = #{programId}
	        AND a.DEFECT_COMPLETION_DATE is not null
	</select>

	
</mapper>