<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dev-mapper.xml -->
<mapper namespace="com.tms.backend.mapper.DevMapper">
    <select id="searchDevProgress" parameterType="map" resultType="devProgress">
	    SELECT 
	        SEQ, SUB_CATEGORY AS subCategory, PROGRAM_TYPE AS programType, PROGRAM_ID AS programId, PROGRAM_NAME AS programName,
		    SCREEN_ID AS screenId, SCREEN_NAME AS screenName, REG_STATUS AS regStatus, DEVELOPER, PL,
		    ACTUAL_START_DATE AS actualStartDate, ACTUAL_END_DATE AS actualEndDate, PLANNED_START_DATE AS plannedStartDate,
		    PLANNED_END_DATE AS plannedEndDate, PL_CONFIRM_DATE AS plConfirmDate, CUST_IT_MGR AS custItMgr,
		    CUST_BUSI_MGR AS custBusiMgr, DEV_STATUS AS devStatus
	    FROM DEV_PROGRESS
	    WHERE 1=1
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="programType != null and programType != ''">
	        AND PROGRAM_TYPE = #{programType}
	    </if>
	    <if test="programName != null and programName != ''">
	        AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
	    </if>
	    <if test="regStatus != null and regStatus != ''">
	        AND REG_STATUS = #{regStatus}
	    </if>
	    <if test="developer != null and developer != ''">
	        AND DEVELOPER = #{developer}
	    </if>
	    <if test="devStatus != null and devStatus != ''">
	        AND DEV_STATUS = #{devStatus}
	    </if>
	    <if test="actualStartDate != null and actualEndDate != null">
	        AND ACTUAL_START_DATE BETWEEN #{actualStartDate} AND #{actualEndDate}
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL = #{pl}
	    </if>
	    <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
	        AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
	    </if>
	    <if test="custItMgr != null and custItMgr != ''">
	        AND CUST_IT_MGR = #{custItMgr}
	    </if>
	    <if test="custBusiMgr != null and custBusiMgr != ''">
	        AND CUST_BUSI_MGR = #{custBusiMgr}
	    </if>
	    LIMIT #{offset}, #{size}
	</select>
	
	<select id="getTotalDevProgressCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM DEV_PROGRESS
	    WHERE 1=1
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="programType != null and programType != ''">
	        AND PROGRAM_TYPE = #{programType}
	    </if>
	    <if test="programName != null and programName != ''">
	        AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
	    </if>
	    <if test="regStatus != null and regStatus != ''">
	        AND REG_STATUS = #{regStatus}
	    </if>
	    <if test="developer != null and developer != ''">
	        AND DEVELOPER = #{developer}
	    </if>
	    <if test="devStatus != null and devStatus != ''">
	        AND DEV_STATUS = #{devStatus}
	    </if>
	    <if test="actualStartDate != null and actualEndDate != null">
	        AND ACTUAL_START_DATE BETWEEN #{actualStartDate} AND #{actualEndDate}
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL = #{pl}
	    </if>
	    <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
	        AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
	    </if>
	    <if test="custItMgr != null and custItMgr != ''">
	        AND CUST_IT_MGR = #{custItMgr}
	    </if>
	    <if test="custBusiMgr != null and custBusiMgr != ''">
	        AND CUST_BUSI_MGR = #{custBusiMgr}
	    </if>
	</select>
	
	<delete id="deleteCommonCode" parameterType="String">
		DELETE FROM DEV_PROGRESS WHERE SEQ = #{seq}
	</delete>

	
</mapper>