<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dev-mapper.xml -->
<mapper namespace="com.tms.backend.mapper.DevMapper">
    <select id="searchDevProgress" parameterType="map" resultType="devProgress">
	    SELECT 
	        SEQ, MAJOR_CATEGORY AS majorCategory, SUB_CATEGORY AS subCategory, MINOR_CATEGORY AS minorCategory,
    		PROGRAM_DETAIL_TYPE AS programDetailType, PROGRAM_TYPE AS programType, PROGRAM_ID AS programId, 
    		PROGRAM_NAME AS programName, CLASS_NAME AS className, SCREEN_ID AS screenId, SCREEN_NAME AS screenName,
			SCREEN_MENU_PATH AS screenMenuPath, PRIORITY, DIFFICULTY, ESTIMATED_EFFORT AS estimatedEffort,
   			program_status AS programStatus, REQ_ID AS reqId, DELETION_HANDLER AS deletionHandler, DELETION_DATE AS deletionDate,
  			DELETION_REASON AS deletionReason, DEVELOPER, PLANNED_START_DATE AS plannedStartDate,
  			PLANNED_END_DATE AS plannedEndDate, ACTUAL_START_DATE AS actualStartDate, ACTUAL_END_DATE AS actualEndDate,
    		DEV_PROG_ATTACHMENT AS devProgAttachment, PL,PL_TEST_SCD_DATE AS plTestScdDate, PL_TEST_CMP_DATE AS plTestCmpDate,
    		PL_TEST_RESULT AS plTestResult, PL_TEST_NOTES AS plTestNotes, IT_MGR AS itMgr, IT_TEST_DATE AS itTestDate,
		    IT_CONFIRM_DATE AS itConfirmDate, IT_TEST_RESULT AS itTestResult, IT_TEST_NOTES AS itTestNotes,
    		BUSI_MGR AS busiMgr, BUSI_TEST_DATE AS busiTestDate, BUSI_CONFIRM_DATE AS busiConfirmDate,
    		BUSI_TEST_RESULT AS busiTestResult, BUSI_TEST_NOTES AS busiTestNotes, THIRD_PARTY_TEST_MGR AS thirdPartyTestMgr,
		    THIRD_PARTY_TEST_DATE AS thirdPartyTestDate, THIRD_PARTY_CONFIRM_DATE AS thirdPartyConfirmDate,
   			THIRD_TEST_RESULT AS thirdTestResult, THIRD_PARTY_TEST_NOTES AS thirdPartyTestNotes, DEV_STATUS AS devStatus,
		    INIT_REG_DATE AS initRegDate, INIT_REGISTRAR AS initRegistrar, LAST_MODIFIED_DATE AS lastModifiedDate,
		    LAST_MODIFIER AS lastModifier
	    FROM DEV_PROGRESS
	    WHERE 1=1
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="programType != null and programType != ''">
	        AND PROGRAM_TYPE = #{programType}
	    </if>
	    <if test="programId != null and programId != ''">
	        AND PROGRAM_ID LIKE CONCAT('%', #{programId}, '%')
	    </if>
	    <if test="programName != null and programName != ''">
	        AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
	    </if>
	    <if test="programStatus != null and programStatus != ''">
	        AND program_status = #{programStatus}
	    </if>
	    <if test="developer != null and developer != ''">
	        AND DEVELOPER = #{developer}
	    </if>
	    <if test="devStatus != null and devStatus != ''">
	        AND DEV_STATUS = #{devStatus}
	    </if>
	    <if test="actualStartDate != null and actualStartDate != '' and actualEndDate != null and actualEndDate != ''">
	        AND ACTUAL_START_DATE BETWEEN #{actualStartDate} AND #{actualEndDate}
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL = #{pl}
	    </if>
	    <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
	        AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
	    </if>
	    <if test="ItMgr != null and ItMgr != ''">
	        AND IT_MGR = #{ItMgr}
	    </if>
	    <if test="BusiMgr != null and BusiMgr != ''">
	        AND BUSI_MGR = #{BusiMgr}
	    </if>
	    LIMIT #{offset}, #{size}
	</select>
	
	<select id="getTotalDevProgressCount" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM DEV_PROGRESS
	    WHERE 1=1
	    <if test="majorCategory != null and majorCategory != ''">
	        AND MAJOR_CATEGORY = #{majorCategory}
	    </if>
	    <if test="subCategory != null and subCategory != ''">
	        AND SUB_CATEGORY = #{subCategory}
	    </if>
	    <if test="programType != null and programType != ''">
	        AND PROGRAM_TYPE = #{programType}
	    </if>
	    <if test="programId != null and programId != ''">
	        AND PROGRAM_ID LIKE CONCAT('%', #{programId}, '%')
	    </if>
	    <if test="programName != null and programName != ''">
	        AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
	    </if>
	    <if test="programStatus != null and programStatus != ''">
	        AND program_status = #{programStatus}
	    </if>
	    <if test="developer != null and developer != ''">
	        AND DEVELOPER = #{developer}
	    </if>
	    <if test="devStatus != null and devStatus != ''">
	        AND DEV_STATUS = #{devStatus}
	    </if>
	    <if test="actualStartDate != null and actualStartDate != '' and actualEndDate != null and actualEndDate != ''">
	        AND ACTUAL_START_DATE BETWEEN #{actualStartDate} AND #{actualEndDate}
	    </if>
	    <if test="pl != null and pl != ''">
	        AND PL = #{pl}
	    </if>
	    <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
	        AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
	    </if>
	    <if test="ItMgr != null and ItMgr != ''">
	        AND IT_MGR = #{ItMgr}
	    </if>
	    <if test="BusiMgr != null and BusiMgr != ''">
	        AND BUSI_MGR = #{BusiMgr}
	    </if>
	</select>
	
	<!-- 개발 진행 현황 삭제 -->
	<delete id="deleteCommonCode" parameterType="String">
		DELETE FROM DEV_PROGRESS WHERE SEQ = #{seq}
	</delete>
	
	<!-- 개발 진행 현황 추가 -->
    <insert id="insertdevProgress" parameterType="devProgress">
	    INSERT INTO DEV_PROGRESS (
	        SEQ, MAJOR_CATEGORY, SUB_CATEGORY, MINOR_CATEGORY, 
	        PROGRAM_DETAIL_TYPE, PROGRAM_TYPE, PROGRAM_ID, PROGRAM_NAME, 
	        CLASS_NAME, SCREEN_ID, SCREEN_NAME, SCREEN_MENU_PATH, 
	        PRIORITY, DIFFICULTY, ESTIMATED_EFFORT, PROGRAM_STATUS, 
	        REQ_ID, DELETION_HANDLER, DELETION_DATE, DELETION_REASON, 
	        DEVELOPER, PLANNED_START_DATE, PLANNED_END_DATE, ACTUAL_START_DATE, 
	        ACTUAL_END_DATE, DEV_PROG_ATTACHMENT, PL, PL_TEST_SCD_DATE, 
	        PL_TEST_CMP_DATE, PL_TEST_RESULT, PL_TEST_NOTES, IT_MGR, 
	        IT_TEST_DATE, IT_CONFIRM_DATE, IT_TEST_RESULT, IT_TEST_NOTES, 
	        BUSI_MGR, BUSI_TEST_DATE, BUSI_CONFIRM_DATE, BUSI_TEST_RESULT, 
	        BUSI_TEST_NOTES, THIRD_PARTY_TEST_MGR, THIRD_PARTY_TEST_DATE, 
	        THIRD_PARTY_CONFIRM_DATE, THIRD_TEST_RESULT, THIRD_PARTY_TEST_NOTES, 
	        DEV_STATUS, INIT_REGISTRAR, LAST_MODIFIER
	    ) VALUES (
	        #{seq}, #{majorCategory}, #{subCategory}, #{minorCategory}, 
	        #{programDetailType}, #{programType}, #{programId}, #{programName}, 
	        #{className}, #{screenId}, #{screenName}, #{screenMenuPath}, 
	        #{priority}, #{difficulty}, #{estimatedEffort}, #{programStatus}, 
	        #{reqId}, #{deletionHandler}, #{deletionDate}, #{deletionReason}, 
	        #{developer}, #{plannedStartDate}, #{plannedEndDate}, #{actualStartDate}, 
	        #{actualEndDate}, #{devProgAttachment}, #{pl}, #{plTestScdDate}, 
	        #{plTestCmpDate}, #{plTestResult}, #{plTestNotes}, #{itMgr}, 
	        #{itTestDate}, #{itConfirmDate}, #{itTestResult}, #{itTestNotes}, 
	        #{busiMgr}, #{busiTestDate}, #{busiConfirmDate}, #{busiTestResult}, 
	        #{busiTestNotes}, #{thirdPartyTestMgr}, #{thirdPartyTestDate}, 
	        #{thirdPartyConfirmDate}, #{thirdTestResult}, #{thirdPartyTestNotes}, 
	        #{devStatus}, #{initRegistrar}, #{lastModifier}
	    )
	</insert>

	
</mapper>