<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user-mapper.xml -->
<mapper namespace="com.tms.backendmapper.FileAttachmentMapper">
    <resultMap id="fileAttachmentResultMap" type="FA">
	    <id property="identifier" column="IDENTIFIER" />
        <result property="type" column="TYPE" />
        <result property="seq" column="SEQ" />
        <result property="storageLocation" column="STORAGE_LOCATION" />
        <result property="fileName" column="FILE_NAME" />
        <result property="createdDate" column="CREATED_DATE" />
    </resultMap>

    <select id="getAttachmentsByNoticeId" parameterType="long" resultMap="fileAttachmentResultMap">
        SELECT TYPE, IDENTIFIER, SEQ, STORAGE_LOCATION, FILE_NAME, CREATED_DATE FROM file_attachments WHERE SEQ = #{seq}
    </select>

    <insert id="insertFileAttachment" parameterType="FA">
        INSERT INTO file_attachments (TYPE, IDENTIFIER, SEQ, STORAGE_LOCATION, FILE_NAME, CREATED_DATE)
        VALUES (#{type}, #{identifier}, #{seq}, #{storageLocation}, #{fileName}, NOW())
    </insert>

    <delete id="deleteAttachmentsByNoticeId" parameterType="long">
        DELETE FROM file_attachments WHERE SEQ = #{seq}
    </delete>
</mapper>