<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dev-mapper.xml -->
<mapper namespace="com.tms.backend.mapper.TestMapper">
	<!-- 테스트 시나리오 조회 -->
    <select id="searchTestProgress" parameterType="map" resultType="TestProgress">
        SELECT * FROM TEST_PROGRESS
        WHERE 1=1
        <if test="testStage != null and testStage != ''">
            AND TEST_STAGE = #{testStage}
        </if>
        <if test="majorCategory != null and majorCategory != ''">
            AND MAJOR_CATEGORY = #{majorCategory}
        </if>
        <if test="subCategory != null and subCategory != ''">
            AND SUB_CATEGORY = #{subCategory}
        </if>
        <if test="programType != null and programType != ''">
            AND PROGRAM_TYPE = #{programType}
        </if>
        <if test="testId != null and testId != ''">
            AND TEST_ID LIKE CONCAT('%', #{testId}, '%')
        </if>
        <if test="screenId != null and screenId != ''">
            AND SCREEN_ID LIKE CONCAT('%', #{screenId}, '%')
        </if>
        <if test="screenName != null and screenName != ''">
            AND SCREEN_Name LIKE CONCAT('%', #{screenName}, '%')
        </if>
        <if test="programId != null and programId != ''">
            AND PROGRAM_ID LIKE CONCAT('%', #{programId}, '%')
        </if>
        <if test="programName != null and programName != ''">
            AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
        </if>
        <if test="developer != null and developer != ''">
            AND DEVELOPER LIKE CONCAT('%', #{developer}, '%')
        </if>
        <if test="testStatus != null and testStatus != ''">
            AND TEST_STATUS = #{testStatus}
        </if>
        <if test="pl != null and pl != ''">
            AND PL = #{pl}
        </if>
        <if test="ItMgr != null and ItMgr != ''">
            AND IT_MGR = #{ItMgr}
        </if>
        <if test="BusiMgr != null and BusiMgr != ''">
            AND BUSI_MGR = #{BusiMgr}
        </if>
        <if test="execCompanyMgr != null and execCompanyMgr != ''">
            AND EXEC_COMPANY_MGR = #{execCompanyMgr}
        </if>
        <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
            AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
        </if>
        LIMIT #{offset}, #{size}
    </select>
	
	<!-- 테스트 시나리오 총 갯수 -->
	<select id="getTotalTestCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM TEST_PROGRESS
        WHERE 1=1
	    <if test="testStage != null and testStage != ''">
            AND TEST_STAGE = #{testStage}
        </if>
        <if test="majorCategory != null and majorCategory != ''">
            AND MAJOR_CATEGORY = #{majorCategory}
        </if>
        <if test="subCategory != null and subCategory != ''">
            AND SUB_CATEGORY = #{subCategory}
        </if>
        <if test="programType != null and programType != ''">
            AND PROGRAM_TYPE = #{programType}
        </if>
        <if test="testId != null and testId != ''">
            AND TEST_ID LIKE CONCAT('%', #{testId}, '%')
        </if>
        <if test="programId != null and programId != ''">
            AND PROGRAM_ID LIKE CONCAT('%', #{programId}, '%')
        </if>
        <if test="programName != null and programName != ''">
            AND PROGRAM_NAME LIKE CONCAT('%', #{programName}, '%')
        </if>
        <if test="developer != null and developer != ''">
            AND DEVELOPER LIKE CONCAT('%', #{developer}, '%')
        </if>
        <if test="testStatus != null and testStatus != ''">
            AND TEST_STATUS = #{testStatus}
        </if>
        <if test="pl != null and pl != ''">
            AND PL = #{pl}
        </if>
        <if test="ItMgr != null and ItMgr != ''">
            AND IT_MGR = #{ItMgr}
        </if>
        <if test="BusiMgr != null and BusiMgr != ''">
            AND BUSI_MGR = #{BusiMgr}
        </if>
        <if test="execCompanyMgr != null and execCompanyMgr != ''">
            AND EXEC_COMPANY_MGR = #{execCompanyMgr}
        </if>
        <if test="thirdPartyTestMgr != null and thirdPartyTestMgr != ''">
            AND THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr}
        </if>
	</select>
	
	<!-- 테스트 시나리오 추가 -->
    <insert id="inserttestProgress" parameterType="TestProgress" useGeneratedKeys="true" keyProperty="seq">
	    INSERT INTO TEST_PROGRESS (
	        TEST_STAGE, MAJOR_CATEGORY, SUB_CATEGORY, MINOR_CATEGORY,
	        TEST_ID, TEST_SCENARIO_NAME, TEST_CASE_NAME, TEST_STEP_NAME,
	        SCREEN_ID, SCREEN_NAME, PROGRAM_TYPE, PROGRAM_ID, PROGRAM_NAME,
	        SCREEN_MENU_PATH, EXECUTE_PROCEDURE, INPUT_DATA, PRECONDITIONS, EXPECTED_RESULT, ACTUAL_RESULT,
	        DEVELOPER, PL, EXEC_COMPANY_MGR, EXEC_COMPANY_TEST_DATE, EXEC_COMPANY_CONFIRM_DATE,
	        EXEC_COMPANY_TEST_RESULT, EXEC_COMPANY_TEST_NOTES, THIRD_PARTY_TEST_MGR,
	        THIRD_PARTY_TEST_DATE, THIRD_PARTY_CONFIRM_DATE, THIRD_TEST_RESULT,
	        THIRD_PARTY_TEST_NOTES, IT_MGR, IT_TEST_DATE, IT_CONFIRM_DATE,
	        IT_TEST_RESULT, IT_TEST_NOTES, BUSI_MGR, BUSI_TEST_DATE,
	        BUSI_CONFIRM_DATE, BUSI_TEST_RESULT, BUSI_TEST_NOTES, TEST_STATUS,
	        INIT_REG_DATE, INIT_REGISTRAR, LAST_MODIFIED_DATE, LAST_MODIFIER
	    ) VALUES (
	        #{testStage}, #{majorCategory}, #{subCategory}, #{minorCategory},
	        #{testId}, #{testScenarioName}, #{testCaseName}, #{testStepName},
	        #{screenId}, #{screenName}, #{programType}, #{programId}, #{programName},
	        #{screenMenuPath}, #{executeProcedure}, #{inputData}, #{preConditions}, #{expectedResult}, #{actualResult},
	        #{developer}, #{pl}, #{execCompanyMgr}, #{execCompanyTestDate}, #{execCompanyConfirmDate},
	        #{execCompanyTestResult}, #{execCompanyTestNotes}, #{thirdPartyTestMgr},
	        #{thirdPartyTestDate}, #{thirdPartyConfirmDate}, #{thirdTestResult},
	        #{thirdPartyTestNotes}, #{itMgr}, #{itTestDate}, #{itConfirmDate},
	        #{itTestResult}, #{itTestNotes}, #{busiMgr}, #{busiTestDate},
	        #{busiConfirmDate}, #{busiTestResult}, #{busiTestNotes}, #{testStatus},
	        CURRENT_TIMESTAMP, #{initRegistrar}, CURRENT_TIMESTAMP, #{lastModifier}
			)
	</insert>
	
	<!-- 테스트 현황 수정 -->
	<update id="updatetestProgress" parameterType="TestProgress">
		UPDATE TEST_PROGRESS
        SET 
            TEST_STAGE = #{testStage},
	        MAJOR_CATEGORY = #{majorCategory},
	        SUB_CATEGORY = #{subCategory},
	        MINOR_CATEGORY = #{minorCategory},
	        TEST_ID = #{testId},
	        TEST_SCENARIO_NAME = #{testScenarioName},
	        TEST_CASE_NAME = #{testCaseName},
	        TEST_STEP_NAME = #{testStepName},
	        SCREEN_ID = #{screenId},
	        SCREEN_NAME = #{screenName},
	        PROGRAM_TYPE = #{programType},
	        PROGRAM_ID = #{programId},
	        PROGRAM_NAME = #{programName},
	        SCREEN_MENU_PATH = #{screenMenuPath},
	        EXECUTE_PROCEDURE = #{executeProcedure},
	        INPUT_DATA = #{inputData},
	        PRECONDITIONS = #{preConditions},
	        EXPECTED_RESULT = #{expectedResult},
	        ACTUAL_RESULT = #{actualResult},
	        DEVELOPER = #{developer},
	        PL = #{pl},
	        EXEC_COMPANY_MGR = #{execCompanyMgr},
	        EXEC_COMPANY_TEST_DATE = #{execCompanyTestDate},
	        EXEC_COMPANY_CONFIRM_DATE = #{execCompanyConfirmDate},
	        EXEC_COMPANY_TEST_RESULT = #{execCompanyTestResult},
	        EXEC_COMPANY_TEST_NOTES = #{execCompanyTestNotes},
	        THIRD_PARTY_TEST_MGR = #{thirdPartyTestMgr},
	        THIRD_PARTY_TEST_DATE = #{thirdPartyTestDate},
	        THIRD_PARTY_CONFIRM_DATE = #{thirdPartyConfirmDate},
	        THIRD_TEST_RESULT = #{thirdTestResult},
	        THIRD_PARTY_TEST_NOTES = #{thirdPartyTestNotes},
	        IT_MGR = #{itMgr},
	        IT_TEST_DATE = #{itTestDate},
	        IT_CONFIRM_DATE = #{itConfirmDate},
	        IT_TEST_RESULT = #{itTestResult},
	        IT_TEST_NOTES = #{itTestNotes},
	        BUSI_MGR = #{busiMgr},
	        BUSI_TEST_DATE = #{busiTestDate},
	        BUSI_CONFIRM_DATE = #{busiConfirmDate},
	        BUSI_TEST_RESULT = #{busiTestResult},
	        BUSI_TEST_NOTES = #{busiTestNotes},
	        TEST_STATUS = #{testStatus},
	        LAST_MODIFIED_DATE = CURRENT_TIMESTAMP,
	        LAST_MODIFIER = #{lastModifier}
        WHERE SEQ = #{seq}
    </update>
	
	<!-- 테스트 시나리오 삭제 -->
	<delete id="deleteTestProgress" parameterType="int">
		DELETE FROM TEST_PROGRESS WHERE SEQ = #{seq}
	</delete>
	
	<!-- 테스트 정보 추출 -->
	<select id="getTestById" resultType="TestProgress">
		SELECT * FROM TEST_PROGRESS
        WHERE SEQ = #{seq}
	</select>
	
	<!-- 프로그램 구분 가져오기 -->
	<select id="getProgramType" resultType="String">
		SELECT PROGRAM_TYPE FROM DEV_PROGRESS
		WHERE PROGRAM_ID = #{programId}
	</select>
	
	<!-- 테스트 아이디에 따른 결함 숫자 세기 -->
	<select id="countDefect" parameterType="String" resultType="int">
	    SELECT COUNT(*)
	    FROM defect a
	    INNER JOIN test_progress b
	    <if test="testId != null and testId != ''">
	    	ON a.TEST_ID = b.TEST_ID
	    </if>
	    <if test="programId != null and programId != ''">
	    	ON a.PROGRAM_ID = b.PROGRAM_ID
	    </if>
	    <if test="managerType == 'thirdParty'">
            AND a.DEFECT_REGISTRAR = b.THIRD_PARTY_TEST_MGR
        </if>
        <if test="managerType == 'it'">
            AND a.DEFECT_REGISTRAR = b.IT_MGR
        </if>
        <if test="managerType == 'busi'">
            AND a.DEFECT_REGISTRAR = b.BUSI_MGR
        </if>
        <if test="managerType == 'exec'">
            AND a.DEFECT_REGISTRAR = b.EXEC_COMPANY_MGR
        </if>
        WHERE 1=1
        <if test="testStage != null and testStage != ''">
            AND a.TEST_STAGE = #{testStage}
        </if>
        <if test="programId != null and programId != ''">
            AND a.PROGRAM_ID = #{programId}
        </if>
        <if test="testId != null and testId != ''">
            AND a.TEST_ID = #{testId}
        </if>
        <if test="defectStatus == 'End'">
        	AND a.DEFECT_STATUS IN ("조치완료", "PL 확인완료", "등록자 확인완료")
        </if>
	</select>
	
	<!-- 화면 정보 가져오기 -->
	<select id="getscreenList" resultType="devProgress">
		SELECT DISTINCT SCREEN_ID, SCREEN_NAME, SCREEN_MENU_PATH
		FROM DEV_PROGRESS
		WHERE length(screen_ID) != 0;
	</select>
	
</mapper>