<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user-mapper.xml -->
<mapper namespace="com.tms.backend.mapper.UserMapper">
    <select id="getUserByUserID" parameterType="String" resultType="User">
        SELECT *
        FROM users
        WHERE USER_ID = #{userID}
    </select>
    
    <select id="findAll" resultType="User">
        SELECT USER_ID, USER_NAME, AUTHORITY_NAME FROM users
    </select>
    
    <select id="UfindAll" resultType="User">
        SELECT USER_ID as userId, USER_NAME as userName, PASSWORD as password,
        AUTHORITY_CODE as authorityCode, AUTHORITY_NAME as authorityName 
		FROM users
    </select>
    
    <select id="findUsersByCriteria" parameterType="Criteria" resultType="User">
        SELECT USER_ID AS userId, USER_NAME as userName, PASSWORD as password,
        AUTHORITY_CODE as authorityCode, AUTHORITY_NAME as authorityName  
        FROM Users
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND USER_NAME LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="authorityName != null and authorityName != ''">
            AND AUTHORITY_NAME = #{authorityName}
        </if>
        ORDER BY USER_ID
    </select>
</mapper>