h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

form button {
  width: fit-content;
}

/* 숨겨진 파일 입력 필드 */
#uploadUserFileInput {
  visibility: hidden; /* 요소를 보이지 않게 함 */
  width: 0;
  height: 0;
}

#userFilterForm {
  display: flex;
  justify-content: space-between;

  border: 1px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.form-group label {
  display: block;
  white-space: nowrap;

  font-weight: 600;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 30%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 400px;
}

.modal-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.modal-form-group label {
  display: block;
  width: 30%;

  font-weight: 600;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: 16px;
}

.flex-box {
  display: flex;

  gap: 8px;
}
