h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

form button {
  width: fit-content;
}

#categoryCodeFilterForm {
  display: flex;
  justify-content: space-between;

  border: 1px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.form-group label {
  display: block;
  white-space: nowrap;
  font-weight: 600;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
}

.filter-container select,
.filter-container input {
  min-width: 160px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 400px;
}

.modal-form-group {
  display: flex;
  align-items: center;

  width: 100%;
}

.modal-form-group label {
  display: block;
  width: 80px;

  font-weight: 600;
}

.modal-form-group input,
.modal-form-group select {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: 16px;
}

.flex-box {
  display: flex;

  gap: 8px;
}

.code,
.th-code,
.stage-type,
.th-stage-type {
  width: 100px;

  text-align: center;
}

input[type="radio"] {
  width: fit-content;

  cursor: pointer;
}

.code-display {
  display: flex;

  flex: 1;
}

.code-display span {
  display: inline-block;
  width: 50px;
  margin: auto;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.code-display input {
  flex: 1;
}
