* {
  box-sizing: border-box !important;
  font-family: inherit;
  outline: none;
}

/* 전역 접근 가능한 변수 정의 */
:root {
  --primary-color: #1554c2; /* 파란색 변수 */
  --secondary-color: #4472c4;
  --background-color: #333;

  --white: #ffffff; /*취소, 업로드, 다운로드 버튼 색 */
  --super-light-gray: #f5f5f5;
  --extra-light-gray: #d4d4d4;
  --light-gray: #c0c0c0;
  --gray: #7f7f7f; /*초기화, 목록 버튼 색*/
  --dark-gray: #474747;
  --extra-dark-gray: #333333;
  --super-dark-gray: #333f50; /* 삭제, 저장 버튼 색*/
  --black: #000000;

  --extra-dark-green: #385723; /* 결함등록 버튼 색*/
}

/* Webkit 기반 브라우저 (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* IE 및 Edge */
body {
  -ms-overflow-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;

  font-family: "Malgun Gothic", "맑은 고딕", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: black;
}

header .navigation {
  list-style-type: none;
}

header .navigation ul {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .navigation a {
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

.table-container {
  min-height: 65vh;
}

/* 테이블 스타일 */
table {
  table-layout: fixed;

  width: 100%;

  border-collapse: collapse;
  margin-bottom: 20px;

  cursor: pointer;
}

thead {
  background-color: var(--super-light-gray);
  font-weight: 700;
}

table,
th,
td {
  border: 1px solid var(--light-gray);
}

th,
td {
  padding: 10px;
  vertical-align: middle;
}

th {
  text-align: center;
}

/* 각 테이블 행의 높이 설정 */
td {
  height: 56px;
  overflow: hidden; /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
  white-space: nowrap; /* 내용이 줄 바꿈 없이 한 줄로 유지 */
}

td {
  text-align: left;
}

th input,
td input {
  width: 100px;
}

/* 체크박스 열 너비 설정 */
th:first-child,
td:first-child {
  width: 50px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  min-width: 72px;
  height: fit-content;

  padding: 8px 16px;
  outline: none;
  border: none;

  border-radius: 4px;
  background-color: var(--primary-color);

  color: white;
  font-weight: 600;

  font-family: inherit;
}

label {
  white-space: nowrap;
}

input,
select,
textarea {
  width: 100%;

  padding: 12px;

  border: 1px solid black;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: fit-content;
  transform: scale(1.5); /* 1.5배 크기로 확대 */

  cursor: pointer;
}
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

input[readonly] {
  cursor: default; /* 기본 커서로 설정 */
}

textarea {
  resize: none; /* 크기 조절을 완전히 막음 */
}

button:hover,
button:focus {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

*:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 16px;

  background-color: var(--background-color);

  color: white;
  font-size: 20px;
  font-weight: 600;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 아래 방향으로 그림자 추가 */
}

.navigation-box {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 20px;
}

#logoutButton {
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.ellipsis {
  overflow: hidden; /* 넘치는 내용 숨김 */
  white-space: nowrap; /* 줄 바꿈 방지 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
}

/* 기본 스타일 */
.menu-item {
  position: relative; /* 서브 메뉴를 절대 위치로 설정하기 위해 부모 요소에 상대 위치를 설정 */
}

#sub-menu {
  display: none; /* 기본적으로 서브 메뉴는 숨김 상태 */
  position: absolute; /* 서브 메뉴를 상위 메뉴 아래에 표시 */
  top: 100%; /* 상위 메뉴 바로 아래에 위치 */
  left: 0; /* 상위 메뉴의 왼쪽 끝에 맞추기 */

  border-radius: 8px;
  background-color: var(--dark-gray); /* 배경색 설정 */
  margin: 0;
  padding: 0;

  font-size: 16px;

  list-style: none;
  z-index: 1000; /* 서브 메뉴가 상위 요소 위에 표시되도록 설정 */
}

#sub-menu li {
  white-space: nowrap; /* 줄 바꿈 없음 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 추가 */

  padding: 4px;
  border-radius: 8px;
}

#sub-menu li a {
  color: #fff;
  text-decoration: none;
}

/* 호버 시 서브 메뉴 표시 */
.menu-item:hover #sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.page-title {
  width: 100%;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  color: black;
}

/* 모달 배경 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 내용 스타일 */
.modal-content {
  position: absolute;
  top: 50%; /* 수직 중앙 정렬 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translate(-50%, -50%); /* 중앙 정렬 보정 */

  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  transition: box-shadow 0.3s ease-in-out;
}

/* 텍스트가 한 줄로 표시되도록 설정 */
.single-line-text {
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 부분 숨기기 */
  text-overflow: ellipsis; /* 넘칠 때 말줄임표 추가 */
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  min-width: fit-content;
  height: 30px;

  border: none;
  background-color: transparent;
  padding: 8px;

  color: rgb(60, 60, 60);
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.pagination button:hover,
.pagination button:focus {
  box-shadow: none;
}

.pagination button.prev,
.pagination button.next {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 20px;
}

.pagination button:disabled {
  color: darkgray;
  pointer-events: none;
}

.pagination button.active {
  background-color: var(--primary-color);
  color: white;
}

.hidden {
  visibility: hidden; /* 요소를 보이지 않게 함 */
  position: absolute; /* Remove from the normal flow */
  left: -9999px; /* Move off-screen */
  z-index: -1; /* Ensure it’s below other elements */
}

.file-button {
  margin-bottom: 16px;
  background-color: var(--extra-light-gray);

  color: black;
}

.file-preview-container {
  width: 100%;
}

.file-preview {
  height: 150px;
  overflow-y: auto;

  border-radius: 4px;
  background-color: var(--super-light-gray);
}

.file-preview ul {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;
}

.file-preview li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-preview .file-name {
  max-width: 310px;
  text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임표로 표시 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.file-remove-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 2px;

  color: black;
  white-space: nowrap;
}

.file-remove-button:hover {
  box-shadow: none;
}

/* 로딩 스피너 오버레이 스타일 */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* 약간의 투명도 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* 페이지 콘텐츠보다 위에 표시 */
}

/* 로딩 스피너 스타일 */
.spinner {
  border: 8px solid var(--light-gray); /* 회색 배경 */
  border-top: 8px solid var(--primary-color); /* 상단 테두리 색상 */
  border-radius: 50%; /* 동그라미 형태로 만듭니다 */
  width: 60px; /* 스피너의 너비 */
  height: 60px; /* 스피너의 높이 */
  animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

/* 로딩 스피너 회전 애니메이션 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.justify-end {
  justify-content: end;
}

.align-end {
  align-items: end;
}

.delete-button {
  background-color: var(--super-dark-gray);
}

.save-button {
  background-color: var(--super-dark-gray);
}

.reset-button {
  background-color: var(--gray);
}

.list-button {
  background-color: var(--gray);
}

.register-defect-button {
  background-color: var(--extra-dark-green);
}

.cancel-button {
  background-color: var(--white);
  border: 1px solid var(--gray);

  color: var(--black);
}

.excel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background-color: var(--white);
  border: 1px solid var(--gray);

  color: var(--black);
}

.excel-button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
