h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

form button {
  width: fit-content;
}

.table-container {
  width: calc(100vw - 40px);
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: auto;
}

table td {
  text-align: center;
  overflow: auto;
  text-overflow: unset;
}

#defectFilterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  display: block;
  font-weight: 600;

  margin-right: 8px;
}

.form-group #defectRoleKeySelect {
  margin-right: 8px;
}

.filter-container {
  display: flex;

  align-items: center;
  gap: 20px;

  width: 90%;
}

.filter-container select,
.filter-container input {
  height: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 400px;
}

.modal-form-group {
  display: flex;
  align-items: center;

  width: 100%;
}

.modal-form-group label {
  display: block;
  width: 80px;

  font-weight: 600;
}

.modal-form-group input,
.modal-form-group select {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: 16px;
}

.flex-box {
  display: flex;

  gap: 8px;
}

input[type="radio"] {
  width: fit-content;

  cursor: pointer;
}

.dash {
  margin: 0 8px;
}

#subCategoryForFilter {
  width: 150px;
}

#defectRoleKeySelect {
  width: 110px;
}

#defectRoleValueInput {
  width: 110px;
}

#defectNumberForFilter {
  width: 100px;
}

.defect-number {
  width: 104px;
}
