#defectRegisterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

fieldset {
  width: 100%;
}

legend {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  margin-bottom: 8px;
}

.form-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;

  background-color: var(--super-light-gray);
  padding: 8px;

  border: 1px solid var(--light-gray);
  border-collapse: collapse;
}

.form-group-row {
  display: flex;
  /* justify-content: end; */
  align-items: center;

  gap: 16px;

  width: 100%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  /* flex: 1;  */
}

.form-group label {
  display: block;

  min-width: 96px;

  font-weight: 600;
}

.form-group input,
.form-group select {
  width: 200px;
}

.form-group textarea {
  flex: 1;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.radio-group label,
.radio-group input {
  width: fit-content;
  min-width: fit-content;

  font-weight: 500;
}

.radio-group label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-box {
  height: 100%;

  padding: 8px;

  border: 1px solid var(--gray);
  border-radius: 4px;

  font-size: inherit;

  flex: 1;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 8px;

  width: 100%;
}

.file-preview {
  height: 80px;
}

.notice-info {
  color: blue;
  font-weight: 500;
}
