h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

form button {
  width: fit-content;
}

.table-container {
  width: calc(100vw - 40px);
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: auto;
}

table td {
  text-align: center;
  overflow: auto;
  text-overflow: unset;
}

/* 숨겨진 파일 입력 필드 */
#uploadDevProgressFileInput {
  visibility: hidden; /* 요소를 보이지 않게 함 */
  width: 0;
  height: 0;
}

#devProgressFilterForm {
  border: 1px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;
}

.form-group label {
  display: block;
  font-weight: 600;

  width: 140px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 100%;

  margin-bottom: 20px;
}

.filter-container select,
.filter-container input {
  flex: 1;
  height: 100%;
}

#programKeySelect,
#roleKeySelect {
  flex: none;
  width: 130px;
  margin-right: 10px;
}

.filter-container-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#developerSearchButton {
  display: flex; /* 이미지가 버튼에 맞게 조정되도록 설정 */
  align-items: center; /* 버튼 내부의 콘텐츠를 중앙 정렬 */
  justify-content: center; /* 버튼 내부의 콘텐츠를 중앙 정렬 */

  width: 46px;
  min-width: fit-content;
  height: 46px;

  padding: 12px;
  margin-left: 8px;

  border: 1px solid var(--gray);
  background-color: var(--white);
}

#developerSearchButton img {
  max-width: 100%; /* 이미지의 너비를 버튼 너비에 맞게 조정 */
  max-height: 100%; /* 이미지의 높이를 버튼 높이에 맞게 조정 */
  display: block; /* 이미지가 버튼 너비에 맞게 조정되도록 설정 */
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 400px;
}

.modal-form-group {
  display: flex;
  align-items: center;

  width: 100%;
}

.modal-form-group label {
  display: block;
  width: 80px;

  font-weight: 600;
}

.modal-form-group input,
.modal-form-group select {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: 16px;
}

.flex-box {
  display: flex;

  gap: 8px;
}

.code,
.th-code,
.stage-type,
.th-stage-type {
  width: 100px;

  text-align: center;
}

input[type="radio"] {
  width: fit-content;

  cursor: pointer;
}

.code-display {
  display: flex;

  flex: 1;
}

.code-display span {
  display: inline-block;
  width: 50px;
  margin: auto;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.code-display input {
  flex: 1;
}

.dash {
  margin: 0 8px;
}
