h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

#noticeFilterForm {
  display: flex;
  justify-content: space-between;

  border: 1px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 16px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.form-group label {
  display: inline-block;

  font-weight: 600;
  white-space: nowrap; /* 줄바꿈이 일어나지 않도록 설정 */
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin-bottom: 16px;
}

.flex-box {
  display: flex;

  gap: 8px;
}

.notice-seq {
  width: 55px;

  text-align: center;
}

.notice-post-date {
  width: 108px;

  text-align: center;
}

.notice-content {
  max-width: 600px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: calc(100vh * 0.7);
}

.modal-form button {
  width: 100%;
}

.modal-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.modal-form-group label {
  display: block;
  width: 30%;

  font-weight: 600;
}

.modal-form-group textarea {
  min-height: 300px;
}
