h2 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 24px;
}

#testProgressEditForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

fieldset {
  width: 100%;
}

legend {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 8px;

  width: 100%;
}

.fieldset-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.fieldset-container fieldset {
  flex: 1;
}

.form-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;

  background-color: var(--super-light-gray);
  padding: 8px;

  border: 1px solid var(--light-gray);
  border-collapse: collapse;
}

.file-box {
  width: 100%;

  background-color: var(--super-light-gray);
  padding: 8px;

  border: 1px solid var(--light-gray);
}

.file-box .file-button {
  margin: 0;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  flex: 1;
}

.form-group label {
  display: block;

  min-width: 120px;

  font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 1;
}

.form-group textarea {
  min-height: 140px;
}

.flex-box {
  display: flex;
  gap: 16px;
}

legend .flex-box {
  margin-bottom: 16px;
}

.file-preview {
  height: 100px;

  padding: 0;
}

.file-preview ul {
  padding: 0;
}

/* 스크롤바의 기본 스타일 설정 */
.file-preview::-webkit-scrollbar {
  width: 12px;
}

/* 스크롤바의 막대 (thumb) 스타일 설정 */
.file-preview::-webkit-scrollbar-thumb {
  background-color: var(--extra-light-gray); /* 스크롤바의 색상 */
  border-radius: 12px; /* 스크롤바의 모서리 둥글게 설정 */
}

/* 스크롤바의 트랙 (track) 스타일 설정 */
.file-preview::-webkit-scrollbar-track {
  background-color: var(--super-light-gray); /* 스크롤바 트랙의 배경색 */
}

/* 스크롤바 버튼 숨기기 */
.file-preview::-webkit-scrollbar-button {
  display: none; /* 스크롤바 버튼 숨기기 */
}

.search-input-wrapper {
  display: flex;
  gap: 1px;

  flex: 1;
}

.search-button {
  display: flex; /* 이미지가 버튼에 맞게 조정되도록 설정 */
  align-items: center; /* 버튼 내부의 콘텐츠를 중앙 정렬 */
  justify-content: center; /* 버튼 내부의 콘텐츠를 중앙 정렬 */

  width: 36px;
  min-width: fit-content;
  height: 36px;

  padding: 8px;

  border: 1px solid var(--gray);
  background-color: var(--white);
}

.search-button img {
  max-width: 100%; /* 이미지의 너비를 버튼 너비에 맞게 조정 */
  max-height: 100%; /* 이미지의 높이를 버튼 높이에 맞게 조정 */
  display: block; /* 이미지가 버튼 너비에 맞게 조정되도록 설정 */
}

.modal table {
  table-layout: fixed;

  min-width: fit-content;
  width: 70vw;
  overflow: auto;
}

.modal th {
  white-space: nowrap;
  min-width: fit-content;
}

.modal-content {
  max-height: 50vh;
}

#programFilterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  max-width: 70vw;
  margin-bottom: 16px;
}

#programFilterForm .form-group-row {
  width: auto;
}

#programFilterForm label {
  min-width: fit-content;
}

#programFilterForm input {
  width: 150px;
}

#programFilterForm select {
  width: fit-content;
}

#screenTableWrapper,
#programTableWrapper {
  display: block;

  height: 35vh;

  overflow-y: auto;
}

#screenTableBody td,
#programTableBody td {
  text-align: center;
}

#screenTableBody > tr:hover,
#programTableBody > tr:hover {
  background-color: var(--super-light-gray);
}

.legend-container {
  display: flex;
  justify-content: space-between;
}

.legend-container .form-group {
  flex: none;
  margin: 0 8px 8px 0;
}

.defect-box {
  flex: none;
  margin: 0 8px 8px 0;
  color: var(--primary-color);
}
